{% extends 'main.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
        <h1 class="welcoming">Welcome to Grade 1</h1><br>
        <a class="welcome" href="/">Unit 1: Adding and Subtracting within 20</a><br>
        <a href="">Unit 2: Place Value</a><br>
        <a href="">Unit 3: Numbers to 100</a><br>
        <a href="">Unit 4: Basic Measurememt</a><br>
    {% endblock content %}
</body>
</html>