{% extends 'main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade 5</title>
</head>
<body>
    {% block content %}
    <h1>Welcome to Grade 5</h1><br>
    <a href="">Unit 1: Working with volume</a><br>
    <a href="">Unit 2: Multiply/Divide Fractions</a><br>
    <a href="">Unit 3: Basic exponents</a><br>
    <a href="">Unit 4: Coordinate Plane</a><br>
    <a href="">Unit 5: Intro to decimals</a><br>
    <a href="">Unit 6: Add Decimals</a><br>
    <a href="">Unit 7: Subtract Decimals</a><br>
    {% endblock content %}
</body>
</html>