{% extends 'main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade 4</title>
</head>
<body>
    {% block content %}
    <h1>Welcome to Grade 4</h1><br>
    <a href="">Unit 1: Factors and Multiples</a><br>
    <a href="">Unit 2: Comparing Fractions</a><br>
    <a href="">Unit 3: Add/Subtract Fractions</a><br>
    <a href="">Unit 4: Place value into the decimals</a><br>
    <a href="">Unit 5: Basic angles</a><br>
    {% endblock content %}
</body>
</html>