{% extends 'main.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kindergarten</title>
</head>
<body>


    {% block content %}

        <h1 class="welcoming">Welcome to kindergarten</h1>

        <div class="">
            <a class="unit" href="">Unit 1: Numbers 1-10</a>
        </div>

        <div class="unit2">
            <a href="">Unit 2: 2-D Shapes</a>
        </div>

        <div class="unit3">
            <a href="">Unit 3: Getting to know Addition & Subtraction</a>
        </div>
        
        <div class="unit4">
            <a href="">Unit 4: Composing and Decomposing numbers 1-10</a>
        </div>
    
        <div class="unit5">
            <a href="">Unit 5: Numbers 0-20</a>
        </div>
    


    {% endblock content %}
</body>
</html>