{% extends 'main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register</title>
</head>
<body>
    {% block content %}
        {% if page == 'login' %}
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                <label for="">Username:</label>
                <input type="text" name="username" placeholder="Enter Username">

                <label for="">Password:</label>
                <input type="password" name="password" placeholder="Enter Password">

                <input type="submit" value="Login">
            </form>
            <p>Haven't signed up yet?</p>
            <a href="{% url 'register' %}">Sign Up!</a>

        </div>
        {% else %}
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                
                <h1>This is the signup page</h1>
                {{form.as_p}}

                <input type="submit" value="Register">
                <p>Already Signed Up??</p>
                <a href="{% url 'login' %}">Log in!</a>
            </form>
        </div>
        {% endif %}

    {% endblock content %}
</body>
</html>